body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url(https://images.unsplash.com/photo-1596833100340-9ebe50af04f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
    background-repeat: no-repeat;
    background-size: 80%;
    font-size: 120%;
}

.card {
    background: #000000d0;
    color: white;
    padding: 2em;
    margin: 1em;
    width: 100%;
    max-width: 420px;
    border-radius:  30px;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc (100% - 100px);
}

button {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    
}

button:hover {
    background: #7c7c7c6b;
}

h1.temp {
    margin: 0;
}